.obstacles-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.obstacle1, .obstacle2 {
    height: 60px; /* Adjust height as needed */
    width: auto;
    position: absolute;
    left: 50%; /* Start from the middle */
    transform: translateX(-50%); /* Center horizontally */
}

.obstacle1 { 
    top: -60px; /* Start above the viewport */
}

.obstacle2 {
    top: -120px; /* Start above the viewport */
}

.obstacle1-move {
    animation-name: obstacle1-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.obstacle2-move {
    animation-name: obstacle2-animation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes obstacle1-animation {
    0% {
        top: -60px; /* Start above the viewport */
    }
    100% {
        top: 100vh; /* End below the viewport */
    }
}

@keyframes obstacle2-animation {
    0% {
        top: -120px; /* Start above the viewport */
    }
    100% {
        top: 100vh; /* End below the viewport */
    }
}
