.mario {
    width: 5rem;
    height: 20vh;
    position: absolute;
    bottom: 1vh;
    left: 50%;
}

.jump {
    animation-name: jumping;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

@keyframes jumping {
    2% {
        transform: translateY(-15vh);
    }
}

.start {
    animation-name: starting;
    animation-timing-function: ease-out;
    animation-duration: 4s;
}

@keyframes starting {
    2% {
        transform: translateY(-100vh);
    }
}





/* Mario Die */
.die {
    animation-name: die-animation;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes die-animation {
    25% {
        bottom: 30vh;
        left: 8vh;
    }
    100% {
        bottom: -20vh;
    }
}

/* Media Queries */
@media (max-width: 1280px) {
    .mario {
        width: 4rem;
        bottom: 100px;
    }
}

@media (max-width: 1024px) {
    .mario {
        width: 3rem;
        bottom: 60px;
    }
}

@media (max-width: 640px) {
    .mario {
        width: 2rem;
        left: 20px;
        bottom: 60px;
    }
}


.moveLeft {
    animation-name: moving;
    animation-timing-function: linear; /* Optional: change timing function as per your preference */
    animation-duration: 2s; /* Adjust duration as needed for the speed of movement */
    animation-iteration-count: 1; /* Ensure the animation repeats infinitely */
    animation-fill-mode: forwards; 
}

@keyframes moving {
    0% {
        transform: translateX(0); /* Start from the original position */
    }
    100% {
        transform: translateX(-65%); /* Move to the left by 15vw */
    }
    
}




.moveRight {
    animation-name: movingX;
    animation-timing-function: linear; /* Optional: change timing function as per your preference */
    animation-duration: 2s; /* Adjust duration as needed for the speed of movement */
    animation-iteration-count: infinite; /* Ensure the animation repeats infinitely */
    animation-fill-mode: forwards; 
}

@keyframes movingX {
    0% {
        transform: translateX(0); /* Start from the original position */
    }
    100% {
        transform: translateX(65%); /* Move to the left by 15vw */
    }
    
}